<h4 class="display-10"> Order Food Item</h4>
<hr>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <label> Selected Food Item --- </label> 
  <input name="ItemName" #ItemName="ngModel" [(ngModel)]="formData.ItemName" type="text" class="input-box">
  <input type="hidden" name="OrderItemID" #OrderItemID="ngModel" [(ngModel)]="formData.OrderItemID">
  <input type="hidden" name="OrderID" #OrderID="ngModel" [(ngModel)]="formData.OrderID">
  <div class="form-group">
    <label>Food Item</label>
    <select name="ItemID" #ItemID="ngModel" [(ngModel)]="formData.ItemID" class="form-control" (change)="updatePrice($event.target)"
    [class.is-invalid]="!isValid && formData.ItemID==0">
      <option value="0">--Select--</option>
      <option *ngFor="let item of itemList" value ="{{item.itemID}}">{{item.Name}}</option>
    </select>
  </div>
  <div class="form-row ">
    <div class="form-group col-md-6">
      <label>Price </label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input class="form-control" name="Price" #Price="ngModel" [(ngModel)]="formData.Price" readonly>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Quanity </label>
      <input class="form-control" name="Quntity" #Quntity="ngModel" [(ngModel)]="formData.Quntity" (keyup) = "upateTotal()"
      [class.is-invalid]= "!isValid && formData.Quntity == 0">
    </div>
  </div>
  <div class="form-group col-md-6">
    <label>Total </label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">$</div>
      </div>
      <input class="form-control" name="Total" #Total="ngModel" [(ngModel)]="formData.Total" readonly>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
    <button type="button" class="btn btn-outline-danger ml-1" [mat-dialog-close]><i class="fa fa-close"></i> close</button>
  </div>
</form>
